:root {
  --primary-dark-blue: #1e3a8a;
  --primary-soft-gray: #ececec;
  --accent-cyan: #06b6d4;
  --accent-purple: #a78bfa;
  --success-green: #10b981;
  --warning-yellow: #fbbf24;
  --error-red: #ef4444;
  --background-dark: #111827;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
}

::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
}

::-webkit-scrollbar-thumb {
  background: #16143bb1;
}

::-webkit-scrollbar-thumb:hover {
  background: #16143b;
}

.minHeigth300 {
  min-height: 300px;
}

.mainHeading {
  z-index: 0;
  position: relative;
}

.mainHeading::before {
  content: var(--text);
  position: absolute;
  transform: scale(1.5);
  z-index: -1;
  filter: opacity(0.2);
  -webkit-text-stroke: 2px rgb(185, 185, 185);
  top: -30%;
  color: lightgray;
}

.mainPlayBtn {
  width: 70px;
  height: 70px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  animation: pulse 1.5s infinite ease-in-out;
}

.mainPlayBtn:hover {
  background: rgba(0, 0, 0, 0.7);
}

.controls {
  bottom: 5px;
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-top: 2px solid rgba(0, 0, 0, 0.9);
}

.videoDurater {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    var(--warning-yellow) 0%,
    var(--primary-soft-gray) 100%
  );
  border-radius: 5px;
  outline: none;
}

.videoDurater::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.videoDurater:hover::-webkit-slider-thumb {
  background-color: var(--success-green);
}

.volume-slider-box {
  top: -440%;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  z-index: 10;
  backdrop-filter: blur(10px);
}

#volume-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 150px;
  height: 5px;
  background: linear-gradient(
    to right,
    var(--accent-purple) 0%,
    var(--accent-purple) 50%,
    var(--accent-cyan) 50%,
    var(--accent-cyan) 100%
  );
  border-radius: 5px;
  outline: none;
}

#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #1d4b99;
  border-radius: 50%;
  cursor: pointer;
}

#volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--accent-purple);
  border-radius: 50%;
  cursor: pointer;
}

#volume-slider:focus {
  background: var(--success-green);
}

.doc-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.error-message {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.file-content {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
}

.file-content table,
.file-content td {
  border: 1px solid #16143b;
}

.file-content td {
  padding: 10px;
  text-align: left;
}

.socialIcons {
  transition: 0.3s ease-in-out;
  transform: scale(1);
  font-size: 1.5rem;
}

.socialIcons:hover {
  transform: scale(1.2) translateY(-5px);
  color: #0a0921 !important;
}

footer {
  background-color: #f8f9fa;
  color: #343a40;
  padding: 2rem 0;
}

footer a {
  color: #343a40;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
.fa-brands {
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.fa-brands:hover {
  transform: scale(1.2);
}

.footer-nav-link {
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.footer-nav-link:hover {
  transform: translateX(5px);
}

footer a:hover {
  transform: translateX(5px);
}

/* new Css */
/* #0d0c22 */
.textDeep {
  color: #16143b;
}

.textDeepBlue {
  color: #0e0966be;
  background: white;
}
.textDeepBlue.active {
  color: #16143b !important;
  background: white;
  font-weight: 700;
}

.textGreen {
  color: mediumseagreen;
}
.textDarkGreen {
  color: forestgreen;
}
.textOrange {
  color: orangered;
}
.textRoyalBlue {
  color: royalblue;
}
.textMaroon {
  color: maroon;
}
.react-pdf__Page {
  justify-items: center;
}

.nav-link.textDeepBlue:hover {
  color: #16143bcf;
}

.btn-outline-deep {
  background: white;
  border: 2px solid #16143b;
  color: #0a0921;
  font-weight: 600;
}
.btn-outline-deep:hover {
  background: #16143b;
  color: white;
}

.btn-deep {
  background: #16143b;
  color: white;
  font-weight: 600;
}
.btn-deep:hover {
  background: #16143b;
  color: white;
  opacity: 0.9;
}

.border-deep {
  border: 1px solid #16143b;
}

.border-deep:focus {
  border: 1px solid #16143b;
  box-shadow: none;
}

.cursorPointer {
  cursor: pointer;
}

.textJustify {
  text-align: justify;
}

.mainBanner {
  background: linear-gradient(#0a0921cf, #0a0921cf),
    url("https://img.freepik.com/premium-photo/protecting-personal-data-with-secure-cloud-storage-encrypted-network-file-transfer-concept-cloud-security-data-protection-encryption-file-transfer-network-security_918839-232071.jpg")
      no-repeat fixed center center / cover;
}

.contactBanner {
  background: linear-gradient(#0a0921cf, #0a0921cf),
    url("https://img.freepik.com/premium-photo/digital-transformation-digital-innovation-technology-wallpaper-digitalization-transformational-w_980716-65877.jpg")
      no-repeat fixed center center / cover;
}

.dropzone {
  border-radius: 10px;
  border: 1px dashed #16143b;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropzone:hover {
  transform: scale(1.02);
}

.blurBg-1 {
  backdrop-filter: blur(10px);
}
.modalBg-1 {
  background-color: #16143ba6;
}

.bg-deep {
  background: #16143b;
}

.owl-stage-outer {
  padding: 20px 0;
}

.owl-dot span {
  background: #16143ba6 !important;
}
.owl-dot:hover span {
  background: #16143bc1 !important;
}
.owl-dot.active span {
  background: #16143b !important;
}

.forgotBtn:hover {
  text-decoration: underline !important;
}

.truncated-file-name {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input,
textarea {
  color: #16143b !important;
  font-weight: 700 !important;
}

.table-responsive {
  scrollbar-width: thin;
}

.tableHeadCustom tr th {
  background: #16143b;
  color: white;
  text-shadow: 0 0 0.2rem gray;
}

.tableBodyCustom tr td,
.tableBodyCustom tr th {
  font-weight: 700;
  color: #16143b;
  transition: 0.2s;
}

.skill {
  width: 200px;
  height: 200px;
}

.outer {
  height: 200px;
  width: 200px;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 160px;
  width: 160px;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: var(--circumference);
  stroke-dashoffset: var(--circumference);
  animation: animate 2s linear forwards;
}

@keyframes animate {
  100% {
    stroke-dashoffset: var(--array);
  }
}
